@import "https://use.fontawesome.com/releases/v5.7.0/css/all.css";

@font-face {
    font-family: google-sans;
    src: url(assets/fonts/GoogleSans-Regular.ttf);
}
.google-font{
    font-family: google-sans
};
video::-webkit-media-controls {
    display:none !important;
    opacity: 0;
}
*::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none;
  }